resume-analyzer
├── src
│   ├── backend
│   │   ├── __init__.py
│   │   ├── app.py
│   │   ├── config.py
│   │   ├── pdf_processor.py
│   │   └── vector_store.py
│   ├── frontend
│   │   ├── static
│   │   │   ├── css
│   │   │   │   └── styles.css
│   │   │   └── js
│   │   │       └── main.js
│   │   └── templates
│   │       ├── base.html
│   │       └── index.html
├── .env
├── .gitignore
├── requirements.txt
└── README.md